<%= form_with(model: suma, local: true) do |form| %>
  <% if suma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(suma.errors.count, "error") %> prohibited this suma from being saved:</h2>

      <ul>
      <% suma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :numero %>
    <%= form.number_field :uno %>
    <%= hidden_field_tag :a, params[:a] %>
  </div>
    +
  <div class="field">
    <%= form.label :numero %>
    <%= form.number_field :dos %>
    <%= hidden_field_tag :b, params[:b] %>
  </div>

  <div class="field">
    <%= form.hidden_field :add_result %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
