<p id="notice"><%= notice %></p>

<h1>Sumas</h1>

<table>
  <thead>
    <tr>
      <th>Uno</th>
      <th>+</th>
      <th>Dos</th>
      <th>=</th>
      <th>Resultado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sumas.each do |suma| %>
      <tr>
        <td><%= suma.uno %></td>
        <td>+</td>
        <td><%= suma.dos %></td>
        <td>=</td>
        <td><%= suma.add_result %></td>
        <td><%= link_to 'Show', suma %></td>
        <td><%= link_to 'Edit', edit_suma_path(suma) %></td>
        <td><%= link_to 'Destroy', suma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suma', new_suma_path %>
