<p id="notice"><%= notice %></p>

<p>
  <strong>Uno:</strong>
  <%= @suma.uno %>
</p>

<p>
  <strong>Dos:</strong>
  <%= @suma.dos %>
</p>

<p>
  <strong>Res:</strong>
  <%= @suma.add_result %>
</p>

<%= link_to 'Edit', edit_suma_path(@suma) %> |
<%= link_to 'Back', sumas_path %>
